<footer class=" text-light footer">
    <div class="container p-5">
      <div class="row py-4">
        <div class="col-md-3">
          <img src="assets/logo.jpg" alt="Company Logo" class="img-fluid logo">
          <div class="py-1 text-lg-center ">
            <p class=""> <i class="fa-solid fa-envelope"></i> info@bacbonltd.com </p>
            <p><i class="fa-solid fa-phone"></i> +880 1797889756</p>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <h5 class="fw-bold text-white">Get In Touch</h5>
          <div class="py-2">
            <p>We are legend Lorem ipsum dolor sitmet, nsecte ipisicing eit, sed</p>
            <div class="input-group">
              <input type="email" class="from-control border-0 rounded-0 mail " placeholder="Enter Your Email" >
              <div class="input-group-append">
                <button class="btn btn-outline-secondary border-0 rounded-0 sent" type="button"><i class="fa-regular fa-paper-plane"></i></button>
              </div>
            </div>
            <ul class="list-unstyled d-flex mt-2">
            <li><a href="about.html" class="text-decoration-none p-3"><i class="fa-brands fa-facebook fs-2"></i></a></li>
            <li><a href="#" class="text-decoration-none p-3"><i class="fa-brands fa-twitter fs-2"></i></a></li>
            <li><a href="#" class="text-decoration-none p-3"><i class="fa-brands fa-linkedin fs-2"></i></a></li>
          </ul>
          </div>
          <!-- <ul class="list-unstyled  ">
            <li><a href="about.html" class="text-decoration-none ">About Us</a></li>
            <li><a href="#" class="text-decoration-none ">Our Teams</a></li>
            <li><a href="#" class="text-decoration-none ">Our Solutions</a></li>
            <li><a href="#" class="text-decoration-none ">Project Details</a></li>
            <li><a href="#" class="text-decoration-none ">Latest Projects</a></li>
            <li><a href="contact.html" class="text-decoration-none ">Contact Us</a></li>
          </ul> -->
        </div>
        <div class="col-md-3 col-6 text-dark">
          <h6 class="fw-bold text-white">Usefull Link</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none ">Pricing Plan</a></li>
            <li><a href="#" class="text-decoration-none ">Popular Deal</a></li>
            <li><a href="#" class="text-decoration-none ">Support</a></li>
            <li><a href="#" class="text-decoration-none ">FAQ</a></li>
            <li><a href="#" class="text-decoration-none ">Privacy & Policy</a></li>
          </ul>
        </div>
        <div class="col-md-3 text-dark">
          <h6 class="fw-bold text-white">University</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none ">Pricing Plan</a></li>
            <li><a href="#" class="text-decoration-none ">Popular Deal</a></li>
            <li><a href="#" class="text-decoration-none ">Support</a></li>
            <li><a href="#" class="text-decoration-none ">FAQ</a></li>
            <li><a href="#" class="text-decoration-none ">Privacy & Policy</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="d-inline-flex justify-content-between col-md-12">
        <p class="fw-lighter text-secondary fs-6">© All rights reserved 2022</p>
        <p class="fw-lighter text-secondary fs-6">Made with ❤ by Bacbon</p>
      </div>
    </div>
  </footer>