<section id="intro" class="info">
    <div class="main-banner2 h-100">
      <div class="dark-overlay">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 m-auto col-sm-12">
              <div class="banner-content content-padding white">
                <div class="text-overlay col-md-12 text-center">
                  <h1 class="fs-1 fw-bold">ABOUT US</h1>
                  <div class="center-text">
                      <p class="fs-5">Alumni Needs enables you to harness the power of your alumni network. Whatever may be the need</p>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="estd" class="about estd">
    <div class="container p-5 ">
        <div class="col-md-12 text-md-end text-sm-center">
            <span class="year">1973</span>
        </div>
        <div class="row bg-white d-flex ">
            <div class="col-md-6">
                <img src="assets/DhakaU.jpg" alt="" class="img-fluid img-left established w-100">
            </div>
            <div class="content p-4 col-md-6">
                <h3 class="fw-bold">Dhaka University Development Studies Alumni Association</h3>
                <p class="fs-6 fw-bold">Dhaka University Development Studies Alumni Association (DUDSAA) is an alumni Association of the Ex-Dhaka University Development Studies (students) of Dhaka University (DU).</p>
                <ul style="list-style-type: none;">
                  <li>
                      <p>
                          &#10004; Reg no: Dh-01166
                      </p>
                  </li>
                  <li>
                      <p>
                          &#10004; 1973 – Year of Establishment
                      </p>
                  </li>
                  <li>
                      <p>
                          &#10004; 8 October – Foundation day of DUDSAA
                      </p>
                  </li>
                  <li>
                      <p>
                          &#10004; 18 October – College Day
                      </p>
                  </li>
                  <li>
                      <p>
                          &#10004; 22 April 1978 – DUDSAA constitution approved
                      </p>
                  </li>
                  <li>
                      <p>
                          &#10004; 28 August 1982 – DUDSAA registered with Department of Social Services, Ministry of Social Welfare
                      </p>
                  </li>
              </ul>
        </div>
    </div>
  </div>
  </section>
  
  <section id="estd" class="about ">
    <div class="container p-5">
        <div class="row bg-white d-md-flex flex-md-row-reverse align-items-center">
            <div class="col-md-6">
                <img src="assets/member.jpg" alt="" class="img-fluid img-left member">
            </div>
            <div class="content p-4 col-md-6">
                <h4 class="text-secondary fw-bold">Membership:</h4>
                <p class="text-secondary">There are currently more than 2,500 members of JEXCA all over the world. All cadets (students) passed from Jhenidah Cadet College are by default a member of this organization.</p>
                <br>
                <p class="text-secondary">The organization is run by a governing body elected among the registered members each year by a general assembly usually held in Dhaka, Bangladesh. Life members and Subscribed members are recognized as registered members and only the registered members are entitled to enjoy the privileges and activities of the organization.</p>
                <h4 class="text-secondary fw-bold">Core Activities:</h4>
                <p class="text-secondary">JEXCA mainly organizes get-togethers to cherish the memory of golden days in the cadet college from class VII to class XII. It also organizes a reunion at Jhenidah Cadet College in every five years.</p>
            </div>
        </div>
    </div>
  </section>

  <section id="estd" class="about">
    <div class="container p-5 ">
        <div class="row bg-white d-flex ">
            <div class="col-md-6">
                <img src="assets/afiliation.jpg" alt="" class="img-fluid img-left established">
            </div>
            <div class="content p-4 col-md-6">
                <h4 class="text-secondary fw-bold">Professional Affiliation:</h4>
                <p class="text-secondary">The strength of the Association lies in its members. There are approximately 29 % of its members are currently serving the Bangladesh Armed Forces. About 16 % of its members are Engineers and Architects engaged in different sub-disciplines while 7 % of them are engaged in independent business. Medical profession contributes for roughly 15% of all the members of JEXCA. Most of these members are specialists in different disciplines of Medical Science and Public Health. Only 6 % of its members are employed in Government job, 5% are in noble Teaching profession while 2% are in Marine service and 2% are in judicial services. About 14% are holding top positions in the private sector and rest 5% are engaged with other specialized professions such as pharmacist, Economist, Banker, Journalist, etc.</p>
                <br>
            </div>
        </div>
    </div>
  </section>

  <section id="estd" class="about ">
    <div class="container p-5">
        <div class="row bg-white d-md-flex flex-md-row-reverse align-items-center">
            <div class="col-md-6">
                <img src="assets/cloth.jpg" alt="" class="img-fluid img-left member">
            </div>
            <div class="content p-4 col-md-6">
                <h4 class="text-secondary fw-bold">Social Activities:</h4>
                <p class="text-secondary">JEXCA as an organization is registered with the Social Welfare Department of Bangladesh.
                    It has voluntary activities like relief works following disasters, scholarship to needy students, welfare to needy JCC employees, etc. It runs Free Friday Clinic (FFC) which gives free medication to poor people in Dhaka and Khulna. JEXCA gives treatment and medicine free of cost to the slum and poor people. Many of the JEXCA members donate monthly to run the FFCs.</p>
                <br>
                <p class="text-secondary">The prime objective of doing for the poor is, Cadet Colleges are highly prestigious and expensive education institutes in Bangladesh, where the top students get admitted from the country. But the students have to pay little for their education and living costs there and the rest of the money comes from the taxes of the people of Bangladesh, mostly the poor. So after passing from this institution they feel a moral obligation to serve the people of Bangladesh.</p>
            </div>
        </div>
    </div>
  </section>

  <section id="estd" class="about">
    <div class="container p-5 ">
        <div class="row bg-white d-flex ">
            <div class="col-md-6">
                <img src="assets/achievements.jpg" alt="" class="img-fluid img-left achive">
            </div>
            <div class="content p-4 col-md-6">
                <h4 class="text-secondary fw-bold">Achivements</h4>
                <ul>
                    <li>
                        <p class="text-secondary">Three national gallantry awards (Beer Proteek) accorded to two members and one associate member in recognition to their service to liberate and defend the integrity of Bangladesh.</p>
                    </li>
                    <li>
                        <p class="text-secondary">JEXCA is proud to have the highest number of Swords of Honor awarded to the members of any single institution by the Bangladesh Military Academy.</p>
                    </li>
                    <li>
                        <p class="text-secondary">University distinctions (home & abroad): 1st Class 1st etc. awarded to a large number of members.</p>
                    </li>
                    <li>
                        <p class="text-secondary">Many of the JEXCAITES are serving as faculty members at different Universities in home and abroad.</p>
                    </li>
                    <li>
                        <p class="text-secondary">One of the members invented the smallest radio in the world.</p>
                    </li>
                </ul>
                <br>
            </div>
        </div>
    </div>
  </section>