.title h1{
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
    color: #23262f;
}

.card{
    background-color: rgb(245, 246, 248);
    border: 1px solid rgb(231, 231, 231);
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.card:hover{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border: none;
}
.card a{
    font-size: 20px;
    color: rgba(48, 105, 227, 0.675);
    text-decoration: none;
    
}