<section id="intro" class="info">
    <div class="main-banner4 ">
      <div class="dark-overlay">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 m-auto col-sm-12">
              <div class="banner-content content-padding white">
                <div class="text-overlay col-md-12 text-center">
                  <h1 class="fs-1 fw-bold">All Event Archive</h1>
                  <div class="center-text">
                    <p class="fs-5">Alumni Needs enables you to harness the power of your alumni network. Whatever may
                      be the need</p>
                  </div>
                  <div class="center-text">
                    <a href="#" class="btn btn-primary border-0 rounded-0 px-3">LET'S SEE</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="events" class="mt-5">
    <div class="container p-md-5">
      <div class="card border-0 rounded-0  p-5 ">
        <div class="row d-flex">
          <div class="col-md-4">
            <img src="assets/event-img-1.jpg" alt="" class="img-fluid">
            <div class="text-center bg-white schedule">
              <h1>It’s 27 February 2023</h1>
            </div>
          </div>
          <div class="col-md-8">
            <div class="event-countdown d-flex flex-wrap">
              <div class="event-date">
                <div class="countdown-label">Days</div>
                <div class="countdown-box ">
                  <div class="countdown-value" id="days">365</div>
                </div>
              </div>
              <div class="event-date">
                <div class="countdown-label">Hr</div>
                <div class="countdown-box">
                  <div class="countdown-value" id="hours">23</div>
                </div>
              </div>
              <div class="event-date">
                <div class="countdown-label">Min</div>
                <div class="countdown-box">
                  <div class="countdown-value" id="minutes">50</div>
                </div>
              </div>
              <div class="event-date">
                <div class="countdown-label">Sec</div>
                <div class="countdown-box">
                  <div class="countdown-value" id="seconds">40</div>
                </div>
              </div>
              <div class="remain d-none d-md-block">
                <h5 class="text-white">Remaining</h5>
              </div>
            </div>
            <div class="event-name">
              <h3 class="text-white">
                We are going to arrange a get together!
              </h3>
              <p class="text-white">
                Hello everybody Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim and minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipv ex ea
              </p>
              <a href="#" class="btn btn-primary rounded-0">JOIN WITH US</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="events" class="mt-5">
    <div class="container p-md-5">
      <div class="card border-0 rounded-0  p-5 ">
        <div class="row d-flex">
          <div class="col-md-4">
            <img src="assets/event-img-1.jpg" alt="" class="img-fluid">
            <div class="text-center bg-white schedule">
              <h1>It’s 27 February 2023</h1>
            </div>
          </div>
          <div class="col-md-8">
            <div class="event-countdown d-flex flex-wrap">
              <div class="event-date">
                <div class="countdown-label">Days</div>
                <div class="countdown-box ">
                  <div class="countdown-value" id="days">365</div>
                </div>
              </div>
              <div class="event-date">
                <div class="countdown-label">Hr</div>
                <div class="countdown-box">
                  <div class="countdown-value" id="hours">23</div>
                </div>
              </div>
              <div class="event-date">
                <div class="countdown-label">Min</div>
                <div class="countdown-box">
                  <div class="countdown-value" id="minutes">50</div>
                </div>
              </div>
              <div class="event-date">
                <div class="countdown-label">Sec</div>
                <div class="countdown-box">
                  <div class="countdown-value" id="seconds">40</div>
                </div>
              </div>
              <div class="remain d-none d-md-block">
                <h5 class="text-white">Remaining</h5>
              </div>
            </div>
            <div class="event-name">
              <h3 class="text-white">
                We are going to arrange a get together!
              </h3>
              <p class="text-white">
                Hello everybody Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim and minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipv ex ea
              </p>
              <a href="#" class="btn btn-primary rounded-0">JOIN WITH US</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="events" class="mt-5">
    <div class="container p-md-5">
      <div class="card border-0 rounded-0  p-5 ">
        <div class="row d-flex">
          <div class="col-md-4">
            <img src="assets/event-img-1.jpg" alt="" class="img-fluid">
            <div class="text-center bg-white schedule">
              <h1>It’s 27 February 2023</h1>
            </div>
          </div>
          <div class="col-md-8">
            <div class="event-countdown d-flex flex-wrap">
              <div class="event-date">
                <div class="countdown-label">Days</div>
                <div class="countdown-box ">
                  <div class="countdown-value" id="days">365</div>
                </div>
              </div>
              <div class="event-date">
                <div class="countdown-label">Hr</div>
                <div class="countdown-box">
                  <div class="countdown-value" id="hours">23</div>
                </div>
              </div>
              <div class="event-date">
                <div class="countdown-label">Min</div>
                <div class="countdown-box">
                  <div class="countdown-value" id="minutes">50</div>
                </div>
              </div>
              <div class="event-date">
                <div class="countdown-label">Sec</div>
                <div class="countdown-box">
                  <div class="countdown-value" id="seconds">40</div>
                </div>
              </div>
              <div class="remain d-none d-md-block">
                <h5 class="text-white">Remaining</h5>
              </div>
            </div>
            <div class="event-name">
              <h3 class="text-white">
                We are going to arrange a get together!
              </h3>
              <p class="text-white">
                Hello everybody Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim and minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipv ex ea
              </p>
              <a href="#" class="btn btn-primary rounded-0">JOIN WITH US</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>