<section id="benefits" class="benefits">
    <div class="d-flex justify-content-center">
      <img src="assets/MemBenefitsHdr800x200.jpg" alt="" class="img-fluid">
    </div>
  </section>

  <section id="support" class="support">
    <div class="container p-5">
      <div class="row p-md-5 d-flex">
        <h1 class="title mb-4">Career Support</h1>
        <div class="col-md-6">
          <div class="row d-lg-flex text-align-center p-3">
            <div class="col-md-1 center-icon">
              <span class="heading"><i class="fa-solid fa-clipboard"></i></span>
            </div>
            <div class="col-md-11 ">
              <h1 class="heading">Career Counseling Sessions</h1>
              <p class="description">1-on-1 appointments with DUDSAA AlumS career counselors on all aspects of the career process
                (salary, resume, interviewing, graduate school, career exploration, and more).</p>
            </div>
          </div>
          <div class="row d-lg-flex text-align-center p-3">
            <div class="col-md-1 center-icon">
              <span class="heading"><i class="fa-solid fa-user-pen"></i></span>
            </div>
            <div class="col-md-11 ">
              <h1 class="heading">Personalized Resume Review</h1>
              <p class="description">Resume reviewed and receive personalized, respective industry-focused feedback online/ offline.</p>
            </div>
          </div>
          <div class="row d-lg-flex text-align-center p-3">
            <div class="col-md-1 center-icon">
              <span class="heading"><i class="fas fa-cogs"></i></span>
            </div>
            <div class="col-md-11 ">
              <h1 class="heading">Career Workshops</h1>
              <p class="description">Workshops cover a wide variety of career related topics.</p>
            </div>
          </div>
          <div class="row d-lg-flex text-align-center p-3">
            <div class="col-md-1 center-icon">
              <span class="heading"><i class="fa-regular fa-file"></i></span>
            </div>
            <div class="col-md-11 ">
              <h1 class="heading">Resume Handbook</h1>
              <p class="description">An extensive resume resource to improve current resume.</p>
            </div>
          </div>
          <div class="row d-lg-flex text-align-center p-3">
            <div class="col-md-1 center-icon">
              <span class="heading"><i class="far fa-address-card"></i></span>
            </div>
            <div class="col-md-11 ">
              <h1 class="heading">Business/Contact Cards</h1>
              <p class="description">Have personal contact cards printed for professional networking.</p>
            </div>
          </div>
          <div class="row d-lg-flex text-align-center p-3">
            <div class="col-md-1 center-icon">
              <span class="heading"><i class="fas fa-book-open"></i></span>
            </div>
            <div class="col-md-11 ">
              <h1 class="heading">Academic Aid</h1>
              <p class="description">Academic aid for society members or their children.</p>
            </div>
          </div>
          <div class="row d-lg-flex text-align-center p-3">
            <div class="col-md-1 center-icon">
              <span class="heading"><i class="far fa-handshake"></i></span>
            </div>
            <div class="col-md-11 ">
              <h1 class="heading">Social Welfare</h1>
              <p class="description">Social welfare for national crisis.</p>
            </div>
          </div>
          <div class="row d-lg-flex text-align-center p-3">
            <div class="col-md-1 center-icon">
              <span class="heading"><i class="fas fa-fighter-jet"></i></span>
            </div>
            <div class="col-md-11 ">
              <h1 class="heading">Recreation</h1>
              <p class="description">Recreation tour, get together, etc.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row d-lg-flex text-align-center p-3">
            <div class="col-md-1 center-icon">
              <span class="heading"><i class="fas fa-archive"></i></span>
            </div>
            <div class="col-md-11 ">
              <h1 class="heading">Internal Vacancy Database</h1>
              <p class="description">Browse full-time and part-time job opportunities within the network.</p>
            </div>
          </div>
          <div class="row d-lg-flex text-align-center p-3">
            <div class="col-md-1 center-icon">
              <span class="heading"><i class="fab fa-codepen"></i></span>
            </div>
            <div class="col-md-11 ">
              <h1 class="heading">Virtual Interview Prep</h1>
              <p class="description">Be prepped by experienced alumni.</p>
            </div>
          </div>
          <div class="row d-lg-flex text-align-center p-3">
            <div class="col-md-1 center-icon">
              <span class="heading"><i class="fas fa-diagnoses"></i></span>
            </div>
            <div class="col-md-11 ">
              <h1 class="heading">Career & Internship Fairs</h1>
              <p class="description">Special invites to Spring and Fall Career & Internship Fairs.</p>
            </div>
          </div>
          <div class="row d-lg-flex text-align-center p-3">
            <div class="col-md-1 center-icon">
              <span class="heading"><i class="fab fa-contao"></i></span>
            </div>
            <div class="col-md-11 ">
              <h1 class="heading">Career Journey & Assessments</h1>
              <p class="description">Career Journey is a career exploration resource to help alumni take that next step - whether it’s a career change, grad school, or just figuring out what career path to take.</p>
            </div>
          </div>
          <div class="row d-lg-flex text-align-center p-3">
            <div class="col-md-1 center-icon">
              <span class="heading"><i class="fas fa-clinic-medical"></i></span>
            </div>
            <div class="col-md-11 ">
              <h1 class="heading">Medical Emergency Aid</h1>
              <p class="description">Medical emergency aid for society members.</p>
            </div>
          </div>
          <div class="row d-lg-flex text-align-center p-3">
            <div class="col-md-1 center-icon">
              <span class="heading"><i class="fas fa-hand-holding-heart"></i></span>
            </div>
            <div class="col-md-11 ">
              <h1 class="heading">Support</h1>
              <p class="description">Need-based support for society members.</p>
            </div>
          </div>
          <div class="row d-lg-flex text-align-center p-3">
            <div class="col-md-1 center-icon">
              <span class="heading"><i class="fas fa-house-user"></i></span>
            </div>
            <div class="col-md-11 ">
              <h1 class="heading">Own Premises</h1>
              <p class="description">Development of DUDSAA AlumS own premises and facilities.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="campus" class="cempus">
    <div class="container px-5">
      <div class="row px-md-5">
        <h1 class="title mb-4">Campus Connection</h1>
        <div class="col-md-6">
          <div class="description">
            <p class="">
              <span class="fw-bold">DU Library</span> – Access books and DVD’s at no cost is included in membership. Remote access to research databases is not included in the membership benefit. As a public institution, any individual can access online research databases on-campus physically at the DU Library.
            </p>
            <p class="">
              <span class="fw-bold">Channel Magazine Subscription </span>– Channel is the official publication of DUDSAA AlumS
            </p>
            <p class="">
              <span class="fw-bold">Alumni & Friends Monthly Newsletter </span>– Stay connected with your university through our monthly newsletter
            </p>
            <p class="">
              <span class="fw-bold">Volunteer Opportunities</span> – Get updates on upcoming volunteer opportunities.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="description">
            <p>
              <span class="fw-bold">Special invitations to signature campus events</span> – Members get special invites to campus events.
            </p>
            <p>
              Invitations to alumni social events.
            </p>
            <p class="fw-bold">Membership in DUDSAA curriculum development committee:</p>
            <p class="fw-bold">Support to Alumni for collecting certificates and recommendations:</p>
          </div>
        </div>
      </div>
    </div>
  </section>