<section id="membership">
    <div class="container">
      <div class="row p-md-5 d-flex">
        <div class="col-md-6 p-3">
          <div class=" shadow">
            <img src="assets/memberjoin.jpg" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-md-6">
          <div class="p-3">
            <h6 class="fw-bold">Membership Types:</h6>
            <p><Span class="fw-bold">General Member:</Span> Graduated from any UG/PG program of DUDSAA paying annual subscription fees.</p>
            <p> <span class="fw-bold">Life-member:</span> Graduate from any UG or PG program of DUDSAA paying one time life membership fee.</p>
            <p> <span class="fw-bold">Honorary member:</span> Executive committee may offer honorary membership to local/ international non-alumni renowned personnel who will enhance the prestige and fame of the DUDSAA Alums in the form of service, donation, sponsorships etc. Honorary members will not have any voting power or take part in the election.</p>
            <p class="fw-bold">Membership Fees:</p>
             <p> Registration/ Signup Fee (one time): Tk. 300.00 (Waived for life membership)</p>
             <p>General Member Annual Fee: Tk. <span class="fw-bold">1,200.00</span> </p>
             <p>Life Member fees: Tk. <span class="fw-bold">25,000.00</span></p>
          </div>
          <div class="p-3">
            <table class="table-container">
              <tr class="heading">
                  <td class="item">Membership Type</td>
                  <td class="item">Signup Fee</td>
                  <td class="item">Annual Fee</td>
                  <td class="item">One Time Payment</td>
              </tr>
              <tr class="data">
                  <td class="item2">General Member</td>
                  <td class="item2">300 TK</td>
                  <td class="item2">1,200 TK</td>
                  <td class="item2">X</td>
              </tr>
              <tr class="data2">
                  <td class="item2">Life Member</td>
                  <td class="item2">X</td>
                  <td class="item2">X</td>
                  <td class="item2">25,000 TK</td>
              </tr>
              </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="price" id="price">
    <div class="container ">
      <div class="row p-md-5">
        <div class="col-md-6">
          <div class=" card rounded-0 border-0 general text-center">
            <div class="card-header  bg-success rounded-0">
              <h1 class="text-white">General Member</h1>
            </div>
            <div class="card-body text-center">
              <span class="fs-6 fw-bold text-black-50 d-flex justify-content-center">TK<h1 class="amount fw-bold text-black-50"> 1200</h1></span>
              <p class="text-black-50 year">Yearly</p>
              <p class="text-black-50 fs-6"><span class="text-black"><i class="fa-regular fa-circle-check"></i></span>  Signup Fee: Tk. 300.00</p>
              <hr class="small-hr">
              <p class="text-black-50 fs-6"><span class="text-black"><i class="fa-regular fa-circle-check"></i></span>  Yearly Renewable</p>
              <hr class="small-hr">
              <p class="text-black-50 fs-6"><span class="text-black"><i class="fa-regular fa-circle-check"></i></span>  Validity: One Year</p>
            </div>
            <div class="mb-3">
              <a href="" class="btn btn-secondary border-0 rounded-0 px-4">Register Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class=" card rounded-0 border-0 general text-center">
            <div class="card-header  bg-success rounded-0">
              <h1 class="text-white">Life Member</h1>
            </div>
            <div class="card-body text-center">
              <span class="fs-6 fw-bold text-black-50 d-flex justify-content-center">TK<h1 class="amount fw-bold text-black-50">25000</h1></span>
              <p class="text-black-50 year">One Time</p>
              <p class="text-black-50 fs-6"><span class="text-black"><i class="fa-regular fa-circle-check"></i></span>   Signup Fee Waived</p>
              <hr class="small-hr">
              <p class="text-black-50 fs-6"><span class="text-black"><i class="fa-regular fa-circle-check"></i></span>  One Time Payment</p>
              <hr class="small-hr">
              <p class="text-black-50 fs-6"><span class="text-black"><i class="fa-regular fa-circle-check"></i></span>  Validity: Lifetime</p>
            </div>
            <div class="mb-3">
              <a href="" class="btn btn-secondary border-0 rounded-0 px-4">Register Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>